body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
}

.picture1 {
    display: flex;
    justify-content: flex-start;
}

.intro {
    display: flex;
    top: 10px;
    flex-direction: column;
    margin-right: 100px;
    margin-top: 9%;
}

.int1 {
    font-size: 45px;
    text-align: right;
}

.int2 {
    font-size: 45px;
    margin-bottom: 10px;
    text-align: right;
}

.int3 {
    font-size: 20px;
    margin-bottom: 5px;
    text-align: right;
}

.int4 {
    font-size: 20px;
    text-align: right;
}

.notation {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 110px;
    margin-right: 200px;
}

.LT {
    font-size: 35px;
    font-weight: bold;
    line-height: 0.8;
}

.ST {
    font-size: 15px;
    font-weight: normal;
    line-height: 0.8;
}

.box1,
.box2 {
    width: 240px;
    height: 100px;
    background-color: rgb(72, 69, 69);
    color: white;
    border: 2px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-weight: bold;
    visibility: visible;
}
