body {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0;
}

.page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    padding: 0;
}

#page1 {
    flex-direction: row;
}

#page1 .picture1 {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

#page1 .intro {
    flex: 1;
    display: flex;
    top: 10px;
    flex-direction: column;
    text-align: right;
    margin-right: 100px;
    margin-top: 9%;
}

.int1,
.int2,
.int3,
.int4 {
    margin-right: 20px;
}

.int1,
.int2 {
    font-family: 'Noto Sans Korean', sans-serif;
    font-size: 55px;
    font-weight: 500;
}

.int2 {
    padding-bottom: 15px;
}

.int3,
.int4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 20px;
    font-weight: lighter;
    color: rgb(87, 86, 86);
    margin-bottom: 10px;
}

.notation {
    display: flex;
    flex-direction: flex-end;
    gap: 5px;
    margin-top: 110px;
    margin-left: 30px;
}

.box1,
.box2 {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 40px;
}

.top {
    display: flex;
    flex-direction: flex-end;
    margin-right: 10px;
    margin-bottom: 10px;
}

.likes,
.alarm {
    display: flex;
    width: 40px;
    height: auto;
    vertical-align: middle;
    justify-content: flex-end;
    margin-right: 10px;
}

.LT {
    font-family: 'Noto Serif', serif;
    display: flex;
    font-size: 50px;
    font-weight: 600;
    flex-direction: column;
    margin-bottom: 25px;

    line-height: 0.001;
    margin-top: 20px;
}

.ST {
    font-family: 'Noto Serif', serif;
    display: flex;
    font-size: 25px;
    margin-top: 10px;
    font-weight: 500;
    line-height: 0.8;
}

#page1 .box1,
.box2 {
    width: 350px;
    height: 180px;
    background-color: rgb(72, 69, 69);
    color: white;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

#page2 {
    flex-direction: row-reverse;
    position: relative;
    margin-top: 20px;
}

#page2 .intro {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 55px;
    position: relative;
}

#page2 .picture2 {
    width: 745px;
    height: 550px;
    overflow: hidden;
    position: relative;
}

#page2 .picture2 img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding-right: 290px;
}

#page2 .text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75%;
    height: 20;
    color: white;
    font-family: 'Noto Sans Korean', sans-serif;
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.25));
    padding: 20px;
    margin-bottom: 30px;
    text-align: bottom;
}

.int5 {
    font-family: 'Noto Sans Korean', sans-serif;
    font-size: 55px;
    margin-bottom: 15px;
    font-weight: 500;
}

#page2 .int6 {
    font-family: 'Noto Sans Korean', sans-serif;
    font-size: 20px;
    color: rgb(87, 86, 86);
    font-weight: 400;
}

.int7 {
    font-size: 8px;
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
}

.icons {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.icon {
    margin-left: 20px;
}

.photo,
.mic,
.videorec {
    width: 30px;
    height: auto;
    margin-right: 15px;
    vertical-align: middle;
}

.photodescrip {
    font-family: 'Noto Serif', serif;
    display: inline-block;
    margin-left: 10px;
    margin-right: 180px;
    font-weight: 600;
    font-size: 25px;
}

.micdescrip {
    font-family: 'Noto Serif', serif;
    display: inline-block;
    margin-left: 10px;
    font-weight: 600;
    font-size: 25px;
}

.videodescrip {
    font-family: 'Noto Serif', serif;
    display: inline-block;
    margin-left: 10px;
    font-weight: 600;
    font-size: 22px;
}
