.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left {
    width: 50%;
    position: relative;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.door-image {
    width: 60%;
    height: auto;
}

.onoff-icon {
    position: absolute;
    width: 10vw;
    bottom: 10vw;
    left: 35vw;
}

.right {
    width: 50%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-text {
    font-size: 2.5vw;
    font-weight: bold;
    margin-bottom: 1.5vw;
}

.sub-text {
    font-size: 1.1vw;
    color: #555;
    line-height: 1.6;
}
