* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden; /* 스크롤 방지 (선택사항) */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 90vw;
    max-height: 90vh;
    width: auto;
    height: auto;
    object-fit: contain;
}
